
@{
    ViewBag.Title = "AddMorePartialView";
}

<h2>AddMorePartialView</h2>

<button type="button" id="my-back-button">Back</button>

<!-- JavaScript code to handle button click event -->
<script>
    $(function() {
        $('#my-back-button').click(function() {
            window.history.back();
        });
    });
</script>